<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"
     id='welcome'>
	<h1>
		Welcome to {{ title }}!
	</h1>
</div> -->

<div class="basic-container">
	<mat-toolbar class="menu-bar mat-elevation-z1"
	             id='toolbar'>
		<div fxHide
		     fxShow.lt-sm>
			<button (click)="toggleMenu()"
			        mat-icon-button>
				<mat-icon>menu</mat-icon>
			</button>
		</div>

		<a mat-button
		   class="townName"
		   color="primary"
		   routerLink="/">
			<span>My Town</span>
		</a>

		<span class="example-spacer"></span>

		<span *ngIf='menuVisible'>
			<span *ngFor="let item of navItems|async">
				<!-- Handle branch node buttons here -->
				<span *ngIf="item.children && item.children.length > 0">
					<button mat-button
					        [matMenuTriggerFor]="menu.childMenu"
					        color="primary"
					        [disabled]="item.disabled">
						{{item.displayName}}
					</button>
					<app-menu-item #menu
					               [items]="item.children"></app-menu-item>
				</span>
				<!-- Leaf node buttons here -->
				<span *ngIf="!item.children || item.children.length === 0">
					<button mat-button
					        color="primary"
					        [routerLink]="item.route">
						{{item.displayName}}
					</button>
				</span>
			</span>
		</span>
	</mat-toolbar>
</div>
